In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

**District Summary**

In [2]:
# Find total number of unique schools; used Xpert Learning Assitant to help with the code.

# Access "school_name" column from the DATAFRAME: school_data_completed 
school_names = school_data_complete["school_name"]

# Generate an empty set to store unique school names
unique_school = set()

# Iterate over the values in the 'school_name' column and add unique school names to the set
for school_name in school_names:
    unique_school.add(school_name)

# Count total number of unique school names
unique_school_count = len(unique_school)

print("Total count of schools:", unique_school_count)

Total count of schools: 15

In [3]:
# Total students

# Access "Student ID" column from the DATAFRAME: school_data_complete
student_ID = school_data_complete["Student ID"]

# Generate an empty set to store unique student IDs
unique_student_ID = set()

# Iterate over the values in the 'Student ID' column and add unique school names to the set
for student_ID in student_ID:
    unique_student_ID.add(student_ID)

# Count total number of unique student IDs
unique_student_ID_count = len(unique_student_ID)

print("Total count of students in the district:", unique_student_ID_count)

Total count of students in the district: 39170

In [4]:
# Total budget

# Access "budget" column from the DATAFRAME: school_data_complete
budget = school_data_complete["budget"]

# Calculate total budget
TOTALbudget = budget.sum()

print("Total disctrict budget:", TOTALbudget)

Total disctrict budget: 82932329558

In [5]:
# Average math Score

# Access "math_score" column from the DATAFRAME: school_data_complete
math_score = school_data_complete["math_score"]

# Caluculate average of math score
AVERAGEmath_score = math_score.mean()
AVERAGEmath_score_rounded = round(AVERAGEmath_score)
AVERAGEmath_score_rounded

print("District average math score:", AVERAGEmath_score_rounded)

District average math score: 79

In [6]:
# Average reading score

# Access "reading_score" column from the DATAFRAME: school_data_complete
reading_score = school_data_complete["reading_score"]

# Caluculate average of math score
AVERAGEreading_score = reading_score.mean()
AVERAGEreading_score_rounded = round(AVERAGEreading_score)
AVERAGEreading_score_rounded

print("District average reading score:", AVERAGEreading_score_rounded)

District average reading score: 82

In [7]:
# % passing math; copied from PyCitySchools_starter and modified to use variable made in previous code for total count of students

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(unique_student_ID_count) * 100
passing_math_percentage = round(passing_math_percentage)

print("Percent of students passing math:", passing_math_percentage,"%")

Percent of students passing math: 75 %

In [8]:
# % passing reading

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(unique_student_ID_count) * 100
passing_reading_percentage = round(passing_reading_percentage)

print("Percent of students passing reading:", passing_reading_percentage,"%")

Percent of students passing reading: 86 %

In [9]:
# % overall passing; copied from PyCitySchools_starter and modified to use variable made in previous code for total count of students

# Count total number of students that scored greater to or equal to 70% in both math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
# Calculate percent of students passing both in math and reading
overall_passing_percent = passing_math_reading_count / unique_student_ID_count * 100
overall_passing_percent_rounded = round(overall_passing_percent)

print("Percent of students passing both math and reading in the district:", overall_passing_percent_rounded,"%")

Percent of students passing both math and reading in the district: 65 %

**School Summary**

In [10]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [11]:
# Sort student and data into dataframes by high school names
# Huang_HS_df = school_data_complete[school_data_complete["school_name"] == "Huang High School"]
# Figueroa_HS_df = school_data_complete[school_data_complete["school_name"] == "Figueroa High School"]
# Shelton_HS_df = school_data_complete[school_data_complete["school_name"] == "Shelton High School"]
# Hernandez_HS_df = school_data_complete[school_data_complete["school_name"] == "Hernandez High School"]
# Griffin_HS_df = school_data_complete[school_data_complete["school_name"] == "Griffin High School"]
# Wilson_HS_df = school_data_complete[school_data_complete["school_name"] == "Wilson High School"]
# Cabrera_HS_df = school_data_complete[school_data_complete["school_name"] == "Cabrera High School"]
# Bailey_HS_df = school_data_complete[school_data_complete["school_name"] == "Bailey High School"]
# Holden_HS_df = school_data_complete[school_data_complete["school_name"] == "Holden High School"]
# Pena_HS_df = school_data_complete[school_data_complete["school_name"] == "Pena High School"]
# Wright_HS_df = school_data_complete[school_data_complete["school_name"] == "Wright High School"]
# Rodriguez_HS_df = school_data_complete[school_data_complete["school_name"] == "Rodriguez High School"]
# Johnson_HS_df = school_data_complete[school_data_complete["school_name"] == "Johnson High School"]
# Ford_HS_df = school_data_complete[school_data_complete["school_name"] == "Ford High School"]
# Thomas_HS_df = school_data_complete[school_data_complete["school_name"] == "Thomas High School"]
# Thomas_HS_df

In [12]:
# Find total number of students per school
per_school_counts = school_data_complete.groupby("school_name")["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data_complete.groupby("school_name")["budget"].sum()
per_school_capita = per_school_budget / per_school_counts

In [14]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_math = round(per_school_math)
per_school_reading =  school_data_complete.groupby("school_name")["reading_score"].mean()
per_school_reading = round(per_school_reading)

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete

school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete

school_students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_math = round(per_school_passing_math)
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
per_school_passing_reading = round(per_school_passing_reading)
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate = round(overall_passing_rate)

In [19]:
# Create a dictionary for per_school_summary
per_school_summary = {
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": school_students_passing_math,
    "Average Reading Score": school_students_passing_reading,
    "Percent Passing Math": per_school_passing_math,
    "Percent Passing Reading": per_school_passing_reading,
    "Percent Overall Passing": overall_passing_rate
}

# Convert the dictionary to a DataFrame
per_school_summary_df = pd.DataFrame(per_school_summary)

# Formatting
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$15,549,641,728.00","$3,124,928.00",3318,4077,67.0,82.0,55.0
Cabrera High School,Charter,1858,"$2,009,159,448.00","$1,081,356.00",1749,1803,94.0,97.0,91.0
Figueroa High School,District,2949,"$5,557,128,039.00","$1,884,411.00",1946,2381,66.0,81.0,53.0
Ford High School,District,2739,"$4,831,365,924.00","$1,763,916.00",1871,2172,68.0,79.0,54.0
Griffin High School,Charter,1468,"$1,346,890,000.00","$917,500.00",1371,1426,93.0,97.0,91.0
Hernandez High School,District,4635,"$14,007,062,700.00","$3,022,020.00",3094,3748,67.0,81.0,54.0
Holden High School,Charter,427,"$105,933,149.00","$248,087.00",395,411,93.0,96.0,89.0
Huang High School,District,2917,"$5,573,322,295.00","$1,910,635.00",1916,2372,66.0,81.0,54.0
Johnson High School,District,4761,"$14,733,628,650.00","$3,094,650.00",3145,3867,66.0,81.0,54.0
Pena High School,Charter,962,"$563,595,396.00","$585,858.00",910,923,95.0,96.0,91.0
Rodriguez High School,District,3999,"$10,186,904,637.00","$2,547,363.00",2654,3208,66.0,80.0,53.0
Shelton High School,Charter,1761,"$1,860,672,600.00","$1,056,600.00",1653,1688,94.0,96.0,90.0
Thomas High School,Charter,1635,"$1,705,517,550.00","$1,043,130.00",1525,1591,93.0,97.0,91.0
Wilson High School,Charter,2283,"$3,012,587,442.00","$1,319,574.00",2143,2204,94.0,97.0,91.0
Wright High School,Charter,1800,"$1,888,920,000.00","$1,049,400.00",1680,1739,93.0,97.0,90.0

**Highest Performing Schools Based on Percentage of Overall Passing Students in Math and Reading**

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_df.sort_values(by="Percent Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$2,009,159,448.00","$1,081,356.00",1749,1803,94.0,97.0,91.0
Griffin High School,Charter,1468,"$1,346,890,000.00","$917,500.00",1371,1426,93.0,97.0,91.0
Pena High School,Charter,962,"$563,595,396.00","$585,858.00",910,923,95.0,96.0,91.0
Thomas High School,Charter,1635,"$1,705,517,550.00","$1,043,130.00",1525,1591,93.0,97.0,91.0
Wilson High School,Charter,2283,"$3,012,587,442.00","$1,319,574.00",2143,2204,94.0,97.0,91.0

**Lowest Performing Schools Based on Percentage of Overall Passing Students in Math and Reading**

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary_df.sort_values(by="Percent Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Figueroa High School,District,2949,"$5,557,128,039.00","$1,884,411.00",1946,2381,66.0,81.0,53.0
Rodriguez High School,District,3999,"$10,186,904,637.00","$2,547,363.00",2654,3208,66.0,80.0,53.0
Ford High School,District,2739,"$4,831,365,924.00","$1,763,916.00",1871,2172,68.0,79.0,54.0
Hernandez High School,District,4635,"$14,007,062,700.00","$3,022,020.00",3094,3748,67.0,81.0,54.0
Huang High School,District,2917,"$5,573,322,295.00","$1,910,635.00",1916,2372,66.0,81.0,54.0

**Math Scores by Grade**

In [37]:
# per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
# per_school_math = round(per_school_math)
# per_school_reading =  school_data_complete.groupby("school_name")["reading_score"].mean()
# per_school_reading = round(per_school_reading)

# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
ninth_grade_math_scores = round(ninth_grade_math_scores)
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = round(tenth_grader_math_scores)
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = round(eleventh_grader_math_scores)
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = round(twelfth_grader_math_scores)

# Create a dictionary of average math grade  per grade per school
math_scores_by_grade_data = {
    "9th_Grade_Math_Score_Average": ninth_grade_math_scores,
    "10th_Grade_Math_Score_Average": tenth_grader_math_scores,
    "11th_Grade_Math_Score_Average": eleventh_grader_math_scores,
    "12th_Grade_Math_Score_Average": twelfth_grader_math_scores
}
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade_df = pd.DataFrame(math_scores_by_grade_data)

# Minor data wrangling
math_scores_by_grade_df.index.name = None

# Display the DataFrame
math_scores_by_grade_df

,9th_Grade_Math_Score_Average,10th_Grade_Math_Score_Average,11th_Grade_Math_Score_Average,12th_Grade_Math_Score_Average
Bailey High School,77.0,77.0,78.0,76.0
Cabrera High School,83.0,83.0,83.0,83.0
Figueroa High School,76.0,77.0,77.0,77.0
Ford High School,77.0,78.0,77.0,76.0
Griffin High School,82.0,84.0,84.0,83.0
Hernandez High School,77.0,77.0,77.0,77.0
Holden High School,84.0,83.0,85.0,83.0
Huang High School,77.0,76.0,76.0,77.0
Johnson High School,77.0,77.0,77.0,77.0
Pena High School,84.0,83.0,84.0,84.0
Rodriguez High School,77.0,77.0,76.0,78.0
Shelton High School,83.0,83.0,83.0,84.0
Thomas High School,84.0,83.0,83.0,83.0
Wilson High School,83.0,84.0,83.0,83.0
Wright High School,83.0,84.0,84.0,84.0

**Reading Score by Grade**

In [44]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
ninth_grade_reading_scores = round(ninth_grade_reading_scores)
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = round(tenth_grader_reading_scores)
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = round(eleventh_grader_reading_scores)
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = round(twelfth_grader_reading_scores)

# Create a dictionary of average reading score per grade per school
reading_scores_by_grade_data = {
    "9th_Grade_Reading_Score_Average": ninth_grade_reading_scores,
    "10th_Grade_Reading_Score_Average": tenth_grader_reading_scores,
    "11th_Grade_Reading_Score_Average": eleventh_grader_reading_scores,
    "12th_Grade_reading_Score_Average": twelfth_grader_reading_scores
}

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade_df = pd.DataFrame(reading_scores_by_grade_data)

# Minor data wrangling
reading_scores_by_grade_df.index.name = None

# Display the DataFrame
reading_scores_by_grade_df

,9th_Grade_Reading_Score_Average,10th_Grade_Reading_Score_Average,11th_Grade_Reading_Score_Average,12th_Grade_reading_Score_Average
Bailey High School,81.0,81.0,81.0,81.0
Cabrera High School,84.0,84.0,84.0,84.0
Figueroa High School,81.0,81.0,81.0,81.0
Ford High School,81.0,81.0,80.0,81.0
Griffin High School,83.0,84.0,84.0,84.0
Hernandez High School,81.0,81.0,81.0,81.0
Holden High School,84.0,83.0,84.0,85.0
Huang High School,81.0,82.0,81.0,80.0
Johnson High School,81.0,81.0,81.0,81.0
Pena High School,84.0,84.0,84.0,85.0
Rodriguez High School,81.0,81.0,81.0,80.0
Shelton High School,84.0,83.0,84.0,83.0
Thomas High School,84.0,84.0,84.0,84.0
Wilson High School,84.0,84.0,84.0,84.0
Wright High School,84.0,84.0,84.0,84.0

**Scores by School Spending**

In [59]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [58]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary_df.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$15,549,641,728.00","$3,124,928.00",3318,4077,67.0,82.0,55.0
Cabrera High School,Charter,1858,"$2,009,159,448.00","$1,081,356.00",1749,1803,94.0,97.0,91.0
Figueroa High School,District,2949,"$5,557,128,039.00","$1,884,411.00",1946,2381,66.0,81.0,53.0
Ford High School,District,2739,"$4,831,365,924.00","$1,763,916.00",1871,2172,68.0,79.0,54.0
Griffin High School,Charter,1468,"$1,346,890,000.00","$917,500.00",1371,1426,93.0,97.0,91.0
Hernandez High School,District,4635,"$14,007,062,700.00","$3,022,020.00",3094,3748,67.0,81.0,54.0
Holden High School,Charter,427,"$105,933,149.00","$248,087.00",395,411,93.0,96.0,89.0
Huang High School,District,2917,"$5,573,322,295.00","$1,910,635.00",1916,2372,66.0,81.0,54.0
Johnson High School,District,4761,"$14,733,628,650.00","$3,094,650.00",3145,3867,66.0,81.0,54.0
Pena High School,Charter,962,"$563,595,396.00","$585,858.00",910,923,95.0,96.0,91.0
Rodriguez High School,District,3999,"$10,186,904,637.00","$2,547,363.00",2654,3208,66.0,80.0,53.0
Shelton High School,Charter,1761,"$1,860,672,600.00","$1,056,600.00",1653,1688,94.0,96.0,90.0
Thomas High School,Charter,1635,"$1,705,517,550.00","$1,043,130.00",1525,1591,93.0,97.0,91.0
Wilson High School,Charter,2283,"$3,012,587,442.00","$1,319,574.00",2143,2204,94.0,97.0,91.0
Wright High School,Charter,1800,"$1,888,920,000.00","$1,049,400.00",1680,1739,93.0,97.0,90.0

In [62]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)
school_spending_df

ValueError: invalid literal for int() with base 10: '$3,124,928.00'

In [65]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["Total Students"])["Average Math Score"].mean()
size_reading_scores = per_school_summary_df.groupby(["Total Students"])["Average Reading Score"].mean()
size_passing_math = per_school_summary_df.groupby(["Total Students"])["Percent Passing Math"].mean()
size_passing_reading = per_school_summary_df.groupby(["Total Students"])["Percent Passing Reading"].mean()
size_overall_passing = per_school_summary_df.groupby(["Total Students"])["Percent Overall Passing"].mean()

In [70]:

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade_df = pd.DataFrame(reading_scores_by_grade_data)


size_summary = {
    "Small (<1000)": "<1000",
    "Medium (1000-2000)": "1000-2000",
    "Large (2000-5000)": "2000-5000"
}

# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary_df = pd.DataFrame(list(size_summary.items()), columns=['Size Category', 'Range'])

# Display results
size_summary

{'Small (<1000)': '<1000',
 'Medium (1000-2000)': '1000-2000',
 'Large (2000-5000)': '2000-5000'}

In [73]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary_df.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary_df.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary_df.groupby(["School Type"])["Percent Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary_df.groupby(["School Type"])["Percent Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary_df.groupby(["School Type"])["Percent Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary